/** SECTION header**/

.header {
  padding-top: 60px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
}
.shadow {
  display: none;
}
.logo {
  width: 184px;
  align-items: center;
}
.logo h1 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.05em;
  color: var(--color-accent);
}
.subtitle {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 3px;
  color: var(--color-light-xl);
}
.logo-burger {
  display: none;
}
.navigation {
}

.navigation-list {
  display: flex;
  justify-content: space-between;
}

.navigation-list a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
}

.navigation-list-item {
  padding-bottom: 10px;
  margin-right: 35px;
}
.navigation-list-item:last-child {
  margin-right: 0px;
}

.navigation-list-item a {
  position: relative;
  padding-bottom: 10px;
}

.navigation .active {
  color: var(--color-light-s);
  display: flex;
  border-bottom: 1px solid var(--color-accent);
}
.burger {
  display: none;
}
.shadow-active {
  display: block;
  z-index: 20;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  background: rgba(41, 41, 41, 0.6);
}

@media (max-width: 1279px) and (min-width: 768px) {
  .header {
    padding-top: 30px;
  }

  .navigation-list-item {
    // margin-right: 36px;
  }
}

@media (max-width: 767px) {
  .body.lock {
    overflow: hidden;
  }
  .header {
    padding-top: 30px;
  }

  .logo-burger {
    display: block;
    width: 184px;
    align-items: start;
    margin-top: 30px;
  }
  .logo-burger h2 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.05em;
    color: var(--color-accent);
  }

  .navigation {
    display: none;
  }

  .navigation.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 320px;
    height: 100vh;
    top: 0;
    right: 0;
    background: #000;
    z-index: 4;
    transition: 2.5s;
    overflow: scroll;
  }

  .navigation-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .navigation-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin-right: 0px;
  }
  .navigation-list-item a {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
  }

  .active {
    right: 0;
  }

  .burger {
    display: block;
    width: 30px;
    height: 30px;

    position: relative;
    right: 43px;
    top: 1px;
    z-index: 25;
  }

  .burger.active {
    rotate: 90deg;
    transition: 0.5s;
  }
  .burger-line {
    position: absolute;
    top: 50%;
    left: 0px;
    background-color: var(--color-accent);
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
  }
  .burger-line::before {
    position: absolute;
    content: '';
    top: -10px;
    left: 0px;
    background-color: var(--color-accent);
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
  }
  .burger-line::after {
    position: absolute;
    content: '';
    top: 10px;
    left: 0px;
    background-color: var(--color-accent);
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
  }
  .burger.active {
    rotate: 90deg;
    transition: 0.5s;
  }
  .logo-burger {
    margin-bottom: 158px;
  }
  .navigation-list-item {
    margin-bottom: 40px;
  }
  .navigation-list-item:last-child {
    margin-bottom: 0px;
  }
}
