.popup {
  display: none;
  z-index: 20;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}
.popup-show {
  display: flex;
  align-items: center;
}
.popup-window {
  position: relative;
  width: 952px;
  height: 552px;
  margin: 0 auto;
}

.close-popup {
  position: absolute;
  top: 0;
  right: 10px;
  width: 52px;
  height: 52px;
  border: 2px solid var(--color-accent);
  border-radius: 100%;
  background: transparent;
}
.close-popup:hover,
.hover {
  background: var(--color-accent);
}

.popup-card {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 900px;
  height: 500px;
  background-color: var(--color-light-s);
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 30px;
  overflow: scroll;
}
.popup-pet-img {
  width: 55.5%;
}
.popup-pet-img img {
  width: 100%;
}
.popup-pet-content {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 40px;
  padding: 50px 15px 0 0;
}
.popup-header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.popup-pet-name {
  font-size: 35px;
  letter-spacing: 0.12rem;
}
.popup-pet-type {
  letter-spacing: 0.08rem;
}
.popup-pet-description {
  font-size: 15px;
  line-height: 110%;
  color: #000000;
  letter-spacing: 0.06rem;
}
.popup-pet-list {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.popup-pet-list h5 {
  font-size: 15px;
  letter-spacing: 0.06rem;
}
.pet-list-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.pet-list-item::before {
  content: '';
  width: 4px;
  height: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/dot.png);
}
@media (max-width: 1279px) and (min-width: 768px) {
  .popup-window {
    width: 682px;
    height: 402px;
  }
  .popup-card {
    width: 630px;
    height: 350px;
    column-gap: 10px;
  }
  .popup-pet-content {
    width: 42%;
    row-gap: 18px;
    padding: 10px 0 0 0;
  }
  .popup-pet-description {
    font-size: 13px;
    letter-spacing: 0.05rem;
  }
  .popup-pet-list {
    row-gap: 0px;
  }
}
@media (max-width: 767px) {
  .popup-window {
    width: 270px;
    height: 393px;
  }
  .popup-card {
    width: 240px;
    height: 341px;
    column-gap: 10px;
  }
  .popup-pet-img {
    display: none;
  }
  .popup-pet-content {
    width: 100%;
    row-gap: 20px;
    padding: 10px;
  }
  .popup-header {
    text-align: center;
  }
  .popup-pet-description {
    font-size: 13px;
    letter-spacing: 0.05rem;
    text-align: justify;
  }
  .popup-pet-list {
    row-gap: 0px;
  }
  .close-popup {
    right: 0;
  }
}
