/** SECTION our-friends **/

.our-friends {
  padding: 110px 0 100px;
  background-color: var(--color-light-l);
}

.our-friends-title {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.our-friends-title h3 {
  width: 400px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;

  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}
/*______
____________________ */
.pets-slider {
  display: flex;
  margin-bottom: 42px;

  justify-content: space-between;
  align-items: center;
}
.pets-slider-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 26px;
}

.pets-content {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 18px;
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  row-gap: 31px;
  column-gap: 40px;
  left: 0px;
  top: 0;
}

.pets-card {
  max-width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 29px;
  border-radius: 9px;
  align-items: center;
  padding-bottom: 30px;

  background-color: var(--color-light-s);
  cursor: pointer;
  margin: 0 auto;
}

.card-img {
  width: 270px;
  height: 270px;
  border-radius: 9px 9px 0px 0px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img img {
  height: 100%;
}

.title-name-pets p {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.btn-white {
  width: 187px;
  background: var(--color-light-s);
  border: 2px solid var(--color-accent);
  border-radius: 100px;
  color: var(--color-dark-3xl);
}

.pets-buttons {
  margin-top: 0px;
  display: flex;
  position: relative;
  bottom: 0;
  gap: 20px;
}
.pagination {
  margin: 0 auto;
  display: flex;
  column-gap: 20px;
}
.button-pagination {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid var(--color-accent);
  // background: transparent;
  font: normal 400 20px/1.15em Georgia;
  letter-spacing: 0.06em;
  color: --color-dark-l;
  cursor: pointer;
}

.double-left {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
  cursor: default;
}
.btn-left {
  color: var(--color-dark-s);
  border: 2px solid var(--color-dark-s);
  cursor: default;
}
.number-page {
  background-color: var(--color-accent);
  cursor: default;
}

.button-pagination:hover {
  border: 2px solid var(--color-accent-light);
  background: var(--color-accent-light);
  cursor: pointer;
}
.card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.card:hover > .learn_more {
  background-color: var(--color-accent-light);
  border: 2px solid var(--color-accent-light);
  cursor: pointer;
  color: var(--color-dark-3xl);
}
.card:hover .btn-white {
  background-color: var(--color-accent-light);
  cursor: pointer;
  border: 2px solid var(--color-accent-light);
}
@media (max-width: 1279px) and (min-width: 768px) {
  .our-friends {
    padding: 110px 0 72px;
  }
  .our-friends-title {
    margin-bottom: 30px;
  }
  .pets-slider {
    margin-bottom: 45px;
  }
  .pets-content {
    gap: 0px;
  }
  .pets-slider-container {
    max-width: 580px;
    margin: 0 auto;
  }

  .pagination {
    display: flex;
  }
}
.active-btn {
  background-color: var(--color-accent);
}
@media (max-width: 767px) and (min-width: 320px) {
  .our-friends {
    padding: 70px 0 0;
  }
  .our-friends-title {
    margin-bottom: 0px;
  }
  .pets-slider {
    margin-bottom: 0px;
  }
  .pets-content {
    padding: 42px 0px 42px;
    row-gap: 42px;
  }

  .pagination {
    column-gap: 10px;
  }
  .our-friends-title h3 {
    font-size: 25px;
  }
}
